@model PizzApp.ViewModels.PedidoPizzaViewModel

@{
    ViewData["Title"] = "PedidoPizzas";
    decimal totalPedido = 0;
}

<h1>Itens do Pedido</h1>
<hr />

<h5>Pedido : @Html.DisplayFor(model => @Model.Pedido.PedidoId)</h5>
<h5>Cliente : @Html.DisplayFor(model => @Model.Pedido.Nome)</h5>
    <h5>Data : @Html.DisplayFor(model => @Model.Pedido.PedidoEnviado)</h5>
    <h5>Entrega : @Html.DisplayFor(model => @Model.Pedido.PedidoEntregueEm)</h5>

<table class="table">
    @foreach (var item in @Model.Pedido.PedidoItens)
    {
        totalPedido += (@item.Pizza.Preco * @item.Quantidade);
        //totalPedido = @item.Pedido.PedidoTotal;

        <tr>
            <td align="left">
                <h4>@Html.DisplayFor(modelItem => item.Pizza.PizzaName)</h4>
            </td>
            <td align="left">
               <img src="@item.Pizza.ImagemUrl" class="img-fluid" height="100" width="100"/>
            </td>
            <td align="right">
                <h4>@string.Format("{0:C}", item.Pizza.Preco)</h4>
            </td>
            <td align="right">
                <h4>Qtde. @Html.DisplayFor(modelItem => item.Quantidade)</h4>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3">&nbsp;</td>
        <td align="right">
            <h4>Total do Pedido : @string.Format("{0:C}", @totalPedido)</h4>
        </td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-outline-info">Retornar</a>